includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    tmpDir: .phpstan-cache
    parallel:
        processTimeout: 360.0
    level: max
    checkMissingCallableSignature: true
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkMissingClosureNativeReturnTypehintRule: true
    treatPhpDocTypesAsCertain: false
